extends layout

block content
  script(src='/javascripts/demo.js')
  h1= title
  p Welcome to #{title}
  br
  br
  p Open the page in dev tools to see what's going on in the network tab
  br
  br
  div
    pre(id='output')
